<%= turbo_frame_tag "flash" do %>
  <% if notice %>
    <p class="w-full mt-6 py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="w-full mt-6 py-2 px-3 bg-red-50 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></p>
  <% end %>
<% end %>
